@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-one: #8261EE;
  --color-two: #FF589E;
  --color-text: #1e1e1e;
  --font: "Raleway", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  color: var(--color-text);
  line-height: 1.5;
  font-family: var(--font);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

a:hover {
  text-decoration: none;
  color: var(--color-two);
}